body {
  background-color: #162135;
  color: #eee;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
}

p {
  font-size: 14px;
  margin: 12px 0;
}

a {
  color: #eee;
  font-size: 14px;
  text-decoration: none;
}
a:hover { text-decoration: underline; }
